html
  head
    title= title
    link(rel="stylesheet", href="bulma.min.css")
    link(rel="stylesheet", href="app.css")
  body
    nav(class="navbar", role="navigation", area-label="main navigation")
        div(class="container")
            div(class="navbar-brand")
                a(class="navbar-item", href="uaf-iarc.org")
                    img(style="height: 3em; max-height: 3em;", src="IARC_color_square_acronym-2.svg")

            div(class="navbar-menu")
                div(class="navbar-end")
                    div(class="buttons")
                        a(target="_blank", href="https://uaf-iarc.typeform.com/to/UCZcRB", class="button is-primary")
                            strong Feedback

    section(class="section")
        div(class="container")
            h1(class="title is-3")= message

            p Monocle ipsum dolor sit amet bureaux concierge signature, cutting-edge Singapore cupidatat mollit craftsmanship Beams bulletin in sed deserunt lovely. Eu ex enim, dolore in Washlet Melbourne punctual bespoke premium sharp Shinkansen sint. Concierge dolore intricate vibrant ut smart. Eclectic the best ryokan ANA deserunt. Remarkable charming St Moritz carefully curated fugiat tempor aute Marylebone exquisite. Et Muji K-pop, sint labore punctual ut fugiat id Nordic St Moritz pariatur impeccable in in.

            h2(class="title is-4") Analog forecast results
            div(class="tile is-ancestor")
                div(class="tile is-parent")
                    div(class="tile is-child box")
                        h3(class="title is-5") SLP Forecast for Sept-Nov 1983
                        img(src="test/b.png" class="forecast-output")
                        p Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.
                div(class="tile is-4 is-vertical is-parent")
                    div(class="tile is-child box")
                        h3(class="title is-6") Selected analysis, August 1983
                        img(src="test/a.png" class="clip")
                    div(class="tile is-child box")
                        h3(class="title is-6") Verification
                        img(src="test/v.png" class="clip")

            h2(class="title is-4") Analog years.
            p Excepteur liveable cosy, Ginza ullamco ANA espresso destination Swiss sharp ut occaecat exclusive reprehenderit pariatur. St Moritz Melbourne izakaya duis deserunt aute Beams occaecat fugiat alluring Sunspel. ANA exquisite qui sunt quality of life Beams boulevard, dolor uniforms efficient irure. Laborum ut Washlet ut, espresso vibrant Scandinavian alluring Ginza elegant smart international consequat.
            table(class="table")
                thead
                    tr
                        th(scope="col") Match year
                        th(scope="col" class="has-text-centered") Analysis match
                        th(scope="col" class="has-text-centered") Forecast match
                tbody
                    tr
                        th(scope="row")= year_1
                        td
                            img(src="test/a1.png")
                        td
                            img(src="test/b1.png")
                    tr
                        th(scope="row")= year_2
                        td
                            img(src="test/a2.png")
                        td
                            img(src="test/b2.png")
                    tr
                        th(scope="row")= year_3
                        td
                            img(src="test/a3.png")
                        td
                            img(src="test/b3.png")
                    tr
                        th(scope="row")= year_4
                        td
                            img(src="test/a4.png")
                        td
                            img(src="test/b4.png")
                    tr
                        th(scope="row")= year_5
                        td
                            img(src="test/a5.png")
                        td
                            img(src="test/b5.png")

    footer(class="footer")
        div(class="container")
            p So much footer.