html
  head
    script(async, src="https://www.googletagmanager.com/gtag/js?id="+analytics)
    script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '#{analytics}');
    title Analog Forecast Results
    link(rel="stylesheet", href="bulma.min.css")
    link(rel="stylesheet", href="app.css")
  body
    nav(class="navbar", role="navigation", area-label="main navigation")
        div(class="container")
            div(class="navbar-brand")
                a(class="navbar-item", href="uaf-iarc.org")
                    img(style="height: 3em; max-height: 3em;", src="IARC_color_square_acronym-2.svg")

            div(class="navbar-menu")
                div(class="navbar-end")
                    div(class="buttons")
                        a(target="_blank", href="https://uaf-iarc.typeform.com/to/UCZcRB", class="button is-primary", style="display: none;")
                            strong Feedback

    section(class="section")
        div(class="container")
            h1(class="title is-3") Experimental Analog Forecast Results

            table(class="table parameters")
                thead
                    tr
                        th(scope="col") Parameter
                        th(scope="col" class="has-text-centered") Value

                tbody
                    tr
                        th(scope="row") Forecast theme
                        td= theme
                    tr
                        th(scope="row") Forecast area BBOX
                        td= forecast_bbox
                    tr
                        th(scope="row") Analog match search BBOX
                        td= analog_match_bbox
                    tr
                        th(scope="row") Analog match pressure level height
                        td= pressure_height
                    tr
                        th(scope="row") Analog match temperature level height
                        td= temperature_height
                    tr
                        th(scope="row") Detrend data?
                        td= detrend
                    tr
                        th(scope="row") Automatic match weights?
                        td= automatic_weights
                    tr
                        th(scope="row") Number of analog matches
                        td 5


    section(class="section")
        div(class="container")
            div(class="tile is-ancestor")
                div(class="tile is-parent")
                    div(class="tile is-child box")
                        h3(class="title is-4") Analog Forecast, #{theme}
                        h4(class="subtitle is-5") #{forecast_start}&ndash;#{forecast_end}
                        img(src=path + "b.png" class="forecast-output result")
                div(class="tile is-4 is-vertical is-parent")
                    div(class="tile is-child box")
                        h3(class="title is-5") Analog matches
                        h4(class="subtitle is-6") #{analog_start}&ndash;#{analog_end}
                        img(src=path + "a.png" class="clip result")
                    div(class="tile is-child")

    section(class="section")
        div(class="container")
            h2(class="title is-4") Analog match years
            p(class="is-size-5") This table shows #{theme} from the match years for the analog match date range (#{analog_start_months}&ndash;#{analog_end_months}) and the corresponding forecast date range (#{forecast_start_months}&ndash;#{forecast_end_months}).
            table(class="table analogs")
                thead
                    tr
                        th(scope="col") Match year
                        th(scope="col" class="has-text-centered") #{analog_start_months}&ndash;#{analog_end_months}
                        th(scope="col" class="has-text-centered") #{forecast_start_months}&ndash;#{forecast_end_months}
                tbody
                    tr
                        th(scope="row")= year_1
                        td
                            img(src=path + "a1.png", class="result")
                        td
                            img(src=path + "b1.png", class="result")
                    tr
                        th(scope="row")= year_2
                        td
                            img(src=path + "a2.png", class="result")
                        td
                            img(src=path + "b2.png", class="result")
                    tr
                        th(scope="row")= year_3
                        td
                            img(src=path + "a3.png", class="result")
                        td
                            img(src=path + "b3.png", class="result")
                    tr
                        th(scope="row")= year_4
                        td
                            img(src=path + "a4.png", class="result")
                        td
                            img(src=path + "b4.png", class="result")
                    tr
                        th(scope="row")= year_5
                        td
                            img(src=path + "a5.png", class="result")
                        td
                            img(src=path + "b5.png", class="result")

    section(class="section")
        div(class="container")
            h2(class="title is-4") About this tool, data, &amp; related research
            ol
                li Explain how the tool was developed &amp; attribution for who initially built it.
                li List data sets that are used and explain their update interval.
                li Add any other information needed here.



    footer(class="footer")
        div(class="container")
            p UA is an AA&sol;EO employer and educational institution and prohibits illegal discrimination against any individual.
            p
                a(href="https://www.alaska.edu/nondiscrimination/") Statement of Nondiscrimination
            p(class="copyright") Copyright &copy; #{current_year} University of Alaska Fairbanks.  All rights reserved.


    script
        | document.querySelectorAll("img.result").forEach(img => {
        |    img.addEventListener("click", e => {
        |        window.open(e.srcElement.src)
        |    })
        | })