extends layout.pug

block content
    section(class="section")
        div(class="container")
            h1(class="title is-3") Experimental Analog Forecast Results

            div(class="content narrow is-size-5")
                p Monthly and seasonal forecasts have less skill than weather forecasts for the next few days.

                p The spread among the forecasts provided by individual analog years is an indication of the uncertainty in an analog-based forecast.

                p Over the Alaska region, the skill of the analog-based monthly and seasonal forecasts have been found to be comparable to the skill of the monthly and seasonal outlooks produced by the Climate Prediction Center.

                p Once analog years have been determined, historical data from those years can be used to obtain forecasts for not only monthly timescales, but also for several days to weeks into the future.  The forecast requires information on evolution of the daily weather following the initial date &ldquo;Day 0&rdquo; of the analog years.

                p Once the analog years have been determined, forecasts of any weather&ndash;related variables can be obtained by knowledge of the evolution of those variables in the analog years.

    section(class="section")
        div(class="container is-size-5")
            h2(class="title is-4") Results for this processing run

            p(class="is-size-5 narrow") The top 5 atmospheric match years forecasting !{forecast_year_range} from !{analog_year_range} are <strong>#{year_1}, #{year_2}, #{year_3}, #{year_4}, #{year_5}</strong>.

            table(class="table parameters")
                caption Processing parameters
                thead
                    tr
                        th(scope="col") Parameter
                        th(scope="col" class="has-text-centered") Value

                tbody
                    tr
                        th(scope="row") Forecast theme
                        td= theme
                    tr
                        th(scope="row") Forecast area BBOX
                        td= forecast_bbox
                    tr
                        th(scope="row") Analog match search BBOX
                        td= analog_match_bbox
                    tr
                        th(scope="row") Analog match pressure level height
                        td= pressure_height
                    tr
                        th(scope="row") Analog match temperature level height
                        td= pressure_temp
                    tr
                        th(scope="row") Number of analog matches
                        td 5

            h3(class="title is-5") Match scores for each year
            table(class="table parameters")
                p(class="content narrow") The match score is a sum of the weighted mean squared errors across all six variables. Lower match scores indicate a higher level of similarity between that year and your search year.
                caption Match scores for each year
                thead
                    tr
                        th(scope="col") Year
                        th(scope="col" class="has-text-centered") Score

                tbody
                    tr
                        th(scope="row")= year_1
                        td= year1_rms
                    tr
                        th(scope="row")= year_2
                        td= year2_rms
                    tr
                        th(scope="row")= year_3
                        td= year3_rms
                    tr
                        th(scope="row")= year_4
                        td= year4_rms
                    tr
                        th(scope="row")= year_5
                        td= year5_rms

            h3(class="title is-5") Automatically&ndash;calculated variable weights used in processing
            p(class="content narrow") Variable weights indicate the predictive power of each variable for your search parameters. More details on the auto&ndash;weighting algorithm are available below.

            table(class="table parameters")
                caption Automatically&ndash;calculated variable weights used in processing
                thead
                    tr
                        th(scope="col") Variable
                        th(scope="col" class="has-text-centered") Weight

                tbody
                    tr
                        th(scope="row") Sea Level Pressure
                        td= slpWgt
                    tr
                        th(scope="row") Pressure Height
                        td= z925Wgt
                    tr
                        th(scope="row") 2&ndash;Meter Temperature
                        td= t2mWgt
                    tr
                        th(scope="row") Pressure Temperature
                        td= t925Wgt
                    tr
                        th(scope="row") Sea Surface Temperature
                        td= sstWgt


            div(class="summary-forecast-box tile is-ancestor")
                div(class="tile is-parent")
                    div(class="tile is-child box")
                        h3(class="title is-4") Analog Forecast, #{theme}
                        h4(class="subtitle is-5") !{forecast_year_range}
                        img(src=path + "b.png" class="forecast-output result")
                div(class="tile is-4 is-vertical is-parent")
                    div(class="tile is-child box")
                        h3(class="title is-5") Analog matches
                        h4(class="subtitle is-6") !{analog_year_range}
                        img(src=path + "a.png" class="clip result")
                    div(class="tile is-child")

            h2(class="title is-4") Analog match years
            p(class="is-size-5 narrow") This table shows #{theme} from the match years for the analog match date range (!{analog_month_range}) and the corresponding forecast date range (!{forecast_month_range}).
            table(class="table analogs")
                thead
                    tr
                        th(scope="col") Match year
                        th(scope="col" class="has-text-centered") !{analog_month_range}
                        th(scope="col" class="has-text-centered") !{forecast_month_range}
                tbody
                    tr
                        th(scope="row")= year_1
                        td
                            img(src=path + "a1.png", class="result")
                        td
                            img(src=path + "b1.png", class="result")
                    tr
                        th(scope="row")= year_2
                        td
                            img(src=path + "a2.png", class="result")
                        td
                            img(src=path + "b2.png", class="result")
                    tr
                        th(scope="row")= year_3
                        td
                            img(src=path + "a3.png", class="result")
                        td
                            img(src=path + "b3.png", class="result")
                    tr
                        th(scope="row")= year_4
                        td
                            img(src=path + "a4.png", class="result")
                        td
                            img(src=path + "b4.png", class="result")
                    tr
                        th(scope="row")= year_5
                        td
                            img(src=path + "a5.png", class="result")
                        td
                            img(src=path + "b5.png", class="result")

    section(class="section")
        div(class="container")
            div(class="content narrow is-size-5")
                h2(class="title is-3") About this tool

                h3(class="title is-4") Data source

                p The data comes from the NCEI/NCAR R1 reanalysis. Although now superseded by more modern reanalysis, R1 is used because it offers the longest period of record (since 1949) and is kept up to date.

                h3(class="title is-4") How does this tool work?

                p First, a search area and time is defined. Data are available for entire months so the time can be defined as a single month (ie: August 2020) or a month range (ie: June through August 2020). The spatial bounds should be an area the user believes is climatologically predictive of the intended forecast area. The default is a region in the Pacific Ocean near the equator which climatologists have determined to be highly correlated with weather in Alaska.
                p Second, the model will compare the search range and area to other years’ data to find the closest matches. This is done by comparing the climate pattern across six variables in the search area to those patterns in the same area during the same period in past years. Root mean squared error (RMSE) between each past year and the search period is performed by grid cell and then weighted across each variable using an auto-weighting calculation. The sum of the weighted mean squared errors across all variables is the “Match Score” with low match scores corresponding to high levels of similarity between that year and the search year. The top five years by match score are displayed by default.
                p Third, a forecast area and time must be defined. Similar to the search area, data are available for entire months or month periods, and a forecast area should be chosen which the user believes to be highly correlated with past conditions in the search area. The default is a region over the state of Alaska which climatologists have determined to be highly correlated with conditions in the default search area over the Pacific Ocean.
                p Fourth, climate conditions in the forecast area during the forecast period are returned for each of the top five years by match score calculated during step 2. These display what the climate conditions looked like in the forecast area when conditions in the search area were similar to conditions during the search period.
                p Finally, the conditions returned during the top five match years in the forecast area are averaged to produce a composite forecast for the forecast period. This is a prediction of what climate conditions may look like in the forecast area during the forecast period based on conditions in the search area, during the search period.
                div(class="diagram")
                    img(src="AnalogForecastExplainerGraphic.jpg")

                h4(class="title is-5") Auto&ndash;weighting process
                p The Root Mean Squared Error is computed for each variable and each year, which is then weighted for each variable according to the predictive power of that variable for the parameters input. The weight for each variable is determined by an algorithm developed by the tool’s initial developer Brian Brettschneider.  For each of the 5 variables a standard anomaly transformation is conducted with all values having 5.0 subtracted from them to retain the distinction between positive and negative values. RMSE with climatology is then conducted for each variable and eventually pattern match scores (RMSEs) of the forecast area compared to climatology are then built.
                p The relationship between each of the six constituent variables can then be compared to the dependent variable of the forecast area RMEs. A multiple linear regression determines the weighting of each variable with positive and negative values possible. That weight is then used as the coefficient for each RMSE value for each variable to get coefficient-adjusted root mean squared error values, or weighted RMSEs. It is this sum of weighted RMSEs which acts as the Match Score for each year.

                h3(class="title is-4") Credits &amp; source code

                p Brian Brettschneider with the <a href="https://uaf-accap.org">Alaska Center for Climate Assessment and Policy</a> (ACCAP) developed the science and code for this tool.  Brian now works with the National Weather Service, Anchorage.</p>

                p Source code is available on Github:
                ul
                    li <a href="https://github.com/ua-snap/analog-forecast-gui-dash">Front-end user interface code</a> (this page)
                    li <a href="https://github.com/ua-snap/eapi-api">API code</a>.  The API takes information from the user interface and executes the NCL scientific code and presents results.
                    li <a href="https://github.com/ua-snap/eapi-analogs">Scientific processing code</a>.  This is the original source code which contains the NCL processing scripts.

